.navbar {
  margin-top: -60px;
  margin-bottom: 10px;
}

.navbar_logo {
  height: 180px;
}

.dropdown-item {
  color: rgb(9, 168, 9);
}

.nav-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  color: aqua;
}

.product-link:hover,
.nav-dropdown:hover > .nav-link {
  color: black important;
}

@media (max-width: 991px) {
  .product-link,
  .access-link,
  .icon-link {
    color: black important;
  }

  .nav-link:hover {
    transform: none;
    color: black;
    font-weight: bold;
  }
}
