.image-container {
  overflow: hidden;
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container:hover img {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .button-container {
  opacity: 1;
}

.button-container button {
  background-color: black;
}